*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #e1cce1;
    background-image: linear-gradient(0deg, #d2c9d2 0%, #d3dfe1 53%);
}

.card{
    width: 90%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    background-color: #6abde7;
    background-image: linear-gradient(18deg, #6abde7 33%, #b9efe7 100%);
    
}

.search{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    height: 58px;
    width: 60px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    color: rgb(99, 94, 94);
}

.weather-icon{
    height: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}


.details{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.Humidity , .Wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    margin-left: 10px;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    display: none;
}

 @media (max-width : 460px) {
    .search{
        flex-direction: column;
        gap: 15px;
    }
    .search input{
        max-width: 90%;
    }
    .details{
        justify-content: center;
    }

}  
